# Support for Protocol type in RLBot Python 3.7
typing-extensions

# You can have a different numpy version from this, this just works well with the replay state setter that uses carball
numpy==1.21.5

# PyTorch - standard torch installation
# check setup dependency_links for index url
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0

# PyTorch Geometric for the GNN
# check setup dependency_links for links url
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

# SB3
stable-baselines3==1.5.0
tensorboard

# RLGym
rlgym==1.1.0
rlgym-tools>=1.6.1
